@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Reset Global Styles */
body {
    /* cursor: default; */
    background-color: #f9fafb; /* bg-gray-50 */
    margin: 0;
    padding: 0;
}

/* 2. Utilitas Scrollbar (Sembunyikan tapi tetap bisa scroll) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 3. Animasi Reveal (Muncul saat scroll) */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


h1 span {
    display: inline-block; /* Agar teks warna-warni tidak pecah saat wrap */
}

.card {
    will-change: transform; /* Optimasi performa animasi */
}

input, textarea {
    caret-color: auto;
}